<div class="col-sm-12">
  <div>
    <div><h3>Summaries</h3></div>
    <table class="table hidden-xs">
      <thead>
        <tr class="info">
          <th>Year</th>
          <th>Total Amount (THB)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @summaries.each do |year, amount| %>
          <%= render partial: "year_list", locals: { year: year, amount: amount } %>
        <% end %>
        <tr class="warning">
          <td><b>Summary</b></td>
          <td colspan="2"><b><%= @total %></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>