<table>
  <tbody>
    <tr>
      <td><b>Name:</b></td>
      <td><%= @name %></td>
    </tr>
    <tr>
      <td><b>Contact:</b></td>
      <td><%= @contact %></td>
    </tr>
    <tr>
      <td><b>Message:</b></td>
      <td><%= @message %></td>
    </tr>
  </tbody>
</table>