<footer>
  <div class="container">
    <div class="row">
      &copy; Copyright <%= Time.now.year %>
    </div>
    <div class="row">
      <%= link_to "Contact Us", "#" %>
    </div>
  </div>
</footer>