<ul id="menu-list">
  <%= link_to expenses_path do %>
    <li>Expenses</li>
  <% end %>
  <%= link_to "#" do %>
    <li>Calendar</li>
  <% end %>
  <%= link_to "#" do %>
    <li>Notes</li>
  <% end %>
  <%= link_to "#" do %>
    <li>Summary</li>
  <% end %>
</ul>