<div>
  <form role="search">
    <div class="col-sm-6">
      <label class="col-sm-12">Year</label>
      <%= select_tag "year", options_for_select(@expese_year_list, @year.present? ? @year : Time.now.year), class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <label class="col-sm-12">&nbsp;</label>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>
<br>