<div class="row">
  <div class="col-xs-4 col-sm-2">
    <%= render partial: "shared/menu_list" %>
  </div>
  <div class="col-xs-8 col-sm-10">
    <%= render partial: "shared/item_list" %>
  </div>
</div>