<table class="table">
  <thead>
    <tr class="bg-light-green">
      <th>เดือน</th>
      <th>รวม</th>
      <th>จัดการ</th>
    </tr>
  </thead>
  <tbody>
    <% expenses.each do |month, amount| %>
      <%= render partial: "month_list", locals: {month: month, amount: amount, other: other} %>
    <% end %>
    <tr>
      <td><b><%= t('total') %></b></td>
      <td colspan="2"><b><%= total %></b></td>
    </tr>
  </tbody>
</table>