<tr>
  <td><%= t("month_names.month_#{month}") %></td>
  <td><%= amount %></td>
  <td>
    <% if other.present? %>
      <%= link_to t("details"), details_path(month: month, year: @year, other_expense: other) %>
    <% else %>
      <%= link_to t("details"), details_path(month: month, year: @year) %>
    <% end %>
  </td>
</tr>