<%= render partial: "shared/search_box" %>

<div class="col-sm-12">
  <br>
  <div>
    <div><h5>Paid for <%= Time.now.year %></h5></div>
    <table class="table">
      <thead>
        <tr class="bg-light-gray">
          <th>Month</th>
          <th>Total Amount (THB)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @months.each do |date, amount| %>
          <%= render partial: "month_list", locals: { date: date.to_date, amount: amount } %>
        <% end %>
        <tr>
          <td><b>Summary</b></td>
          <td colspan="2"><b><%= @total_amount %></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>