<%= render partial: "shared/search_box" %>
<%= render partial: "summaries" %>

<!-- Modal -->
<div class="modal fade" id="my_summary_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>