$background-color: #333;
$container-color: #fff;
$navigation-color: #f5f5f5;
$hr-color: #ddd;
$border-color: #e2e2e2;
$menu-background-color: #fafafa;
$shadow-color: #c9c9c9;
$hover-border-color: #c9c9c9;
$text-color: #666;
$red: #990000;