@import "variables";

table td.payment-check-box {
  vertical-align: middle !important;
}

table tr#expense-form {
  background: #009999;
}

.expense-value {
  display: none;
}

table th.menu-actions {
  width: 150px;
}

.white-text {
  color: white;
}

#expense-detail {
  font-weight: bold;
}

.edit-action {
  .edit-expense {
    padding-right: 15px;
    border-right: 1px solid;
  }
  .remove-expense {
    padding-left: 20px;
  }

  .edit-expense, .remove-expense {
    font-weight: bold;
  }

}

.expense-value-pay-by-credit {
  display: none;
}