@import "variables";

table td.payment-check-box {
  vertical-align: middle !important;
}

.remove-expense {
  color: $red;
}

.expense-value {
  display: none;
}

table td.cancel-or-remove-expense {
  vertical-align: middle !important;
}

table th.menu-actions {
  width: 150px;
}

table td.edit-action, td.delete-action {
  width: 70px;
}

.white-text {
  color: white;
}

#summaries-of-this-month {
  border: 1px solid #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

#expense-detail {
  font-weight: bold;
}