@import "variables";

table td.payment-check-box {
  vertical-align: middle !important;
  text-align: center;
}

.remove-expense {
  color: $red;
}

.expense-value {
  display: none;
}

table td.cancel-or-remove-expense {
  vertical-align: middle !important;
}

table th.menu-actions {
  width: 150px;
}

table td.edit-action, td.delete-action {
  width: 70px;
}