@import "variables";

html, body {
  height: 100%;
}

#wrap {
  min-height: 90%;
  position: relative;
  background: $container-color; 

  #top-navigation {
    background: $navigation-color;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .container {
    padding: 30px 0;
  }
}

footer {
  min-height: 10%;
  border-top: 1px solid $hr-color;
  padding: 20px 0;
}