table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.nav.nav-tabs li.active a {
  color: white;
  background-color: #009999;
  border: 1px solid #009999;
}

#summary-details-of-this-month {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 15px;
}

.nav.nav-tabs {
  margin-top: 30px;
}

.btn-default:hover .btn-default:active {
  background-color: #e6e6e6;
}