@media screen and (max-width: 767px) {
  html, body {
    overflow-x: hidden;
  }

  table.table tr td, table.table tr th {
    width: 100%;
    display: block;
  }

  table.table tr:not(:last-child) {
    border-bottom: 1px solid #DDD;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  #calendar {
    margin: 0 15px;
  }

  #calendar {
    padding: 0;
  }

  .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }

  li.ui-menu-item {
    height: 30px;
  }

  li.ui-menu-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .ui-menu .ui-menu-item {
    padding: 5px 1em 3px .4em;
  }

  #languages-switcher {
    margin-right: 15px;
  }

}

.scrollToTop-Mobile {
  bottom: 10px;
}