<tr>
  <td><%= expense.date.strftime("%d") %></td>
  <td><%= expense.detail %></td>
  <td><%= expense.credit ? "<span class='credit'>#{t('credit')}</span>".html_safe : t("cash") %></td>
  <td><%= expense.amount %></td>
</tr>